<a href="https://colab.research.google.com/github/GeovaneGR/alura_google_colab/blob/main/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objetos Próprios

In [76]:
idade1 = 39
idade2 = 30
idade3 = 27

print(idade1)
print(idade2)
print(idade3)

39
30
27

idade = [39, 30, 27, 18]
type(idades)

In [77]:
idades = [39, 30, 27, 18]
type(idades)

list

In [78]:
len(idades)

4

In [79]:
idades

[39, 30, 27, 18]

In [80]:
idades[1]
idades[2]
idades[3]

18

In [81]:
idades.append(15)

In [82]:
idades

[39, 30, 27, 18, 15]

In [83]:
idades[4]

15

In [84]:
idades[6]

IndexError: ignored

In [85]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [86]:
idades.remove(30)

In [87]:
idades

[39, 27, 18, 15]

In [88]:
idades.remove(30)

ValueError: ignored

In [89]:
idades.append(15)

In [90]:
idades

[39, 27, 18, 15, 15]

In [92]:
idades.remove(15)

In [93]:
idades

[39, 27, 18]

In [94]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 27]

In [95]:
idades.remove(39)
idades.remove(18)

In [96]:
idades

[27]

In [97]:
28 in idades

False

In [98]:
15 in idades

False

In [99]:
if 15 in idades:
  idades.remove(15)

In [100]:
idades

[27]

In [101]:
if 28 in idades:
  idades.remove(28)
idades

[27]

In [102]:
idades.append(19)
idades

[27, 19]

In [103]:
idades.insert(0, 20)
idades

[20, 27, 19]

In [104]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [105]:
idades.append(19, 20)

TypeError: ignored

In [106]:
idades.append([27, 19])
idades

[20, 39, 18, [27, 19]]

In [107]:
for elemento in idades:
  print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [108]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [109]:
for idade in idades:
  print(idade+1)

21
40
19
28
20

In [110]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [111]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [112]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [113]:
idades

[20, 39, 18, 27, 19]

In [114]:
[idade + 1 for idade in idades if idade > 21]

[40, 28]

In [115]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [116]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [117]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [118]:
def faz_processamento_de_visualizacao(lista = [] ):
  print(len(lista)
  lista.append(13)

SyntaxError: ignored

In [119]:
faz_processamento_de_visualizacao()

TypeError: ignored

In [120]:
def faz_processamento_de_visualizacao(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)

faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [121]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
     lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [122]:
class ContaCorrente: 

  def __init__(self, codigo):
      self.codigo = codigo
      self.saldo = 0

  def deposita(self, valor):
      self.saldo += valor

  def __str__(self):
      return "[>>codigo {} saldo {}<<]".format(self.codigo, self.saldo)

In [123]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>codigo 15 saldo 0<<]

In [124]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>codigo 15 saldo 500<<]

In [125]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>codigo 47685 saldo 1000<<]

In [126]:
contas = [conta_do_gui, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x7f0aff3add50>, <__main__.ContaCorrente object at 0x7f0aff36c990>]

In [127]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
  print(contas)

[<__main__.ContaCorrente object at 0x7f0aff3add50>, <__main__.ContaCorrente object at 0x7f0aff36c990>]
[<__main__.ContaCorrente object at 0x7f0aff3add50>, <__main__.ContaCorrente object at 0x7f0aff36c990>]

In [128]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

print(contas[0])

[>>codigo 15 saldo 500<<]

In [129]:
conta_do_gui.deposita(100)

print(contas[0])

[>>codigo 15 saldo 600<<]

In [130]:

print(contas[2])

[>>codigo 15 saldo 600<<]

In [131]:
print(conta_do_gui)

[>>codigo 15 saldo 600<<]

In [132]:
contas[2].deposita(300)

print(conta_do_gui)

[>>codigo 15 saldo 900<<]

In [133]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>codigo 15 saldo 900<<] [>>codigo 47685 saldo 1000<<]
[>>codigo 15 saldo 1000<<] [>>codigo 47685 saldo 1100<<]

In [134]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>>codigo 15 saldo 1000<<] [>>codigo 47685 saldo 1100<<]

In [135]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: ignored

In [136]:
guilherme = ('Guilherme', 37, 1981)
daniela = ('Daniela', 31, 1987)

In [138]:
guilherme.append(6754)

AttributeError: ignored

In [137]:
conta_do_gui = (15, 1000)
# conta_do_gui.deposita() # variacao OO
conta_do_gui[1]

1000

In [140]:
conta_do_gui[1] += 100

TypeError: ignored

In [139]:
def deposita(conta): # variação funcional
    novo_saldo = conta[1] + 100
    código = conta[0]

In [141]:
def deposita(conta): # variação "funcional" (separando o comportamento dos dados) 
  novo_saldo = conta[1] + 100
  codigo = conta[0]
  return (codigo, novo_saldo)

In [142]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [143]:
usuarios = [guilherme, daniela]
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [144]:
usuarios.append(('Paulo', 39, 1979))
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [145]:
usuarios[0][0] = "Guilherme Silveira"

TypeError: ignored

In [146]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

contas

(<__main__.ContaCorrente at 0x7f0aff347a50>,
 <__main__.ContaCorrente at 0x7f0aff347cd0>)

In [147]:
for conta in contas: 
  print(conta)

[>>codigo 15 saldo 500<<]
[>>codigo 234876 saldo 1000<<]

In [148]:
contas.append(423768)

AttributeError: ignored

In [149]:
contas[0].deposita(300)

In [150]:
for conta in contas: 
  print(conta)

[>>codigo 15 saldo 800<<]
[>>codigo 234876 saldo 1000<<]

# Herança e Polimorfismo

In [70]:
class Conta:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [71]:
print(Conta(88))

[>>Codigo 88 Saldo 0<<]

In [72]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

In [73]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [74]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [75]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes() # duck typing
  print(conta)

[>>Codigo 16 Saldo 998<<]
[>>Codigo 17 Saldo 1007.0<<]

# Evitaremos usar array puro. se precisarmos de trabalho numérico é costume usar numpy.

In [6]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [7]:
arr.array('d', [1, 3.5, "Guilherme"])

TypeError: ignored

In [9]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

In [10]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [11]:
class ContaSalario: 

    def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

    def deposita(self, valor):
      self._saldo += valor

    def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [14]:
conta1 = ContaSalario(37)
print(conta1)

[>>Codigo 37 Saldo 0<<]

In [13]:
conta2 = ContaSalario(37)
print(conta2)

[>>Codigo 37 Saldo 0<<]

In [12]:
conta1 == conta2

NameError: ignored

In [16]:
contas = [conta1]
conta1 in contas

True

In [17]:
conta2 in contas

False

In [15]:
class ContaSalario: 

    def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

    def deposita(self, valor):
      self._saldo += valor

    def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [18]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

False

In [19]:
conta1 != conta2

True

In [20]:
conta1 in [conta2]

False

In [21]:
conta2 in [conta1]

False

In [22]:
class ContaSalario: 

    def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

    def __eq__(self, outro):
      return self.codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
      self._saldo += valor

    def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [23]:
class ContaCorrente:
  
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [24]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

AttributeError: ignored

In [25]:
conta1.deposita(10)

conta1 == conta2

AttributeError: ignored

In [26]:
class ContaSalario: 

    def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

    def __eq__(self, outro):
      if type(outro) != ContaSalario:
        return False

    def deposita(self, valor):
      self._saldo += valor

    def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [27]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

conta1 == conta2

False

In [28]:
class ContaSalario: 

    def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

    def __eq__(self, outro):
      if type(outro) != ContaSalario:
        return False

    def deposita(self, valor):
      self._saldo += valor

    def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [29]:
ContaCorrente(34)

In [31]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [33]:
isinstance(ContaCorrente(34), Conta)

False

In [32]:
idades = [15, 87, 65, 56, 32, 49, 37]

for idade in idades:
  print(idade)

15
87
65
56
32
49
37

In [34]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

range(len(idades))

range(0, 8)

In [35]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i)

0
1
2
3
4
5
6
7

In [36]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [37]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [40]:
from operator import attrgetter

In [42]:
def extrai_saldo(conta):
  return conta_saldo

for conta in sorted(contas, key=extrai_saldo):

SyntaxError: ignored

In [41]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [43]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [44]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]

In [48]:

class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [51]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [52]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]

In [53]:
conta_do_guilherme < conta_da_daniela

False

In [54]:
conta_do_guilherme <= conta_da_daniela

TypeError: ignored

In [57]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

  def deposita(self, valor):
       self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [59]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [60]:
conta_do_guilherme <= conta_da_daniela

True

In [61]:
conta_do_guilherme <= conta_do_paulo

False

In [68]:
conta_do_guilherme < conta_do_guilherme

In [66]:
conta_do_guilherme == conta_do_guilherme

True

In [69]:
conta_do_guilherme <= conta_do_guilherme

True